
<%= link_to "Créer une quête", new_quest_path %>
<h1><%= @master.username %></h1>
 
<h2>All Quests and Steps:</h2>
<% if @quest.any? %>
 <% @quest.each do |quest| %> 
    <%= link_to quest.title, new_step_path(quest_id: quest.id) %>
    <ul>    
        <% quest.steps.each do |step| %>    
        <li>
        <%= step.titre %>
        </li>  
        <% end %> 
    </ul>
    <% end %>
<% else %>
    <p>Vous avez pas de quete</p>
<% end %>
<a href = "/logoutMaster">Log out</a>

