<div class="container home-container ">
  <div class="row justify-content-center">
     <div class="col-7 show-players-content">
            <h1>Welcome to Dragon Online</h1>
            <div class="row justify-content-center">
                <div class="link-master-home">
                    <a class="" href="/masters"></a>
                    <p>Master</p>
                </div>
                <div class="link-player-home">
                    <a class="" href="/players"></a>
                    <p>Player</p>
                </div>
            </div>    
        </div>
    </div>
</div>
